@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow1{
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.text-in-image{
    left: 700px;
    top: 500px;
}

.profile-bg{
    background: linear-gradient(90deg, #29DD0C 0%, rgba(255, 255, 255, 0) 100%);
}

.tentang-kami{
    width: 1000px;
}

.gambar-alat{
    width: 600px;
}

.produk{
    height: 500px;
}

.background4{
    background: radial-gradient(50% 50% at 50% 50%, rgba(75, 175, 100, 0.75) 0%, rgba(255, 255, 255, 0.5) 100%);
}